<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
    <header>
        <h1>Welcome to the Book Search</h1>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
