<!DOCTYPE html>
<html lang="en">
<head>
  <title>Listing Page</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <h1>Book Categories</h1>
  <ul>
    <li>Programming
      <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>C++</li>
      </ul>
    </li>
    <li>Web Development
      <ul>
        <li>HTML & CSS</li>
        <li>JavaScript</li>
      </ul>
    </li>
    <li>Data Science
      <ul>
        <li>Machine Learning</li>
        <li>Deep Learning</li>
      </ul>
    </li>
  </ul>
</body>
</html>
