<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tables Page</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <h1>Books Table</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
    </tr>
    <tr>
      <td>123</td>
      <td>Continuous Delivery</td>
      <td>J. Humble and D. Farley</td>
    </tr>
    <tr>
      <td>456</td>
      <td>Secrets of Reverse Engineering</td>
      <td>E. Eilam</td>
    </tr>
  </table>
</body>
</html>
